/* Defaults */
body {
	background-color: #222;
	margin: 0px;
	margin: 20px;
	overflow: hidden;
	color: #DDD;
	font-size: 12px;
	font-family: arial, serif;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-moz-user-select: none;
	min-width: 800px;
	font-family: helvetica, arial, serif;
	}
h1 {
	color: #EEE;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 1;
/*	font-family: 'Arvo', helvetica, arial, serif;*/
	}
h2 {
/*	font-family: 'Arvo', helvetica, arial, serif;*/
	font-size: 16px;
	font-weight: normal;
	}
a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	}
a:hover {
	color: #0599E9;
	}


/* iOS style scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
	}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
	}
::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent;
	}
::-webkit-scrollbar-track-piece {
    background-color: #222;
    -webkit-border-radius: 4px;
	}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #555;
    -webkit-border-radius: 4px;
	}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #555;
    -webkit-border-radius: 4px;
	}


/* Main containers */
#container {
	display: none;
	}
#not_supported {
	display: none;
	}
#not_supported .content {
	width: 500px;
	}



/* Header */
#header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 49px;
	border-bottom: 1px solid #555;
	padding: 10px 20px 0 20px;
	background-color: #444;
	text-shadow: 0 1px 2px #000;
	overflow: hidden;
	}
h1.logo {
	overflow: hidden;
	width: 141px;
	height: 30px;
	text-indent: -1000px;
	background: url("/images/logo.png") no-repeat 0 0;
	margin-top: -3px;
	}
p.subheader {
	margin: 0;
	padding: 0 0 0 4px;
	}
#buttons {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50%;
	}



/* Main body area */
#body {
	position: absolute;
	left: 3px;
	top: 63px;
	bottom: 39px;
	right: 243px;
	background: #000;
	overflow: hidden;
	}



/* Tabbed menu */
#menu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 30px;
	background-color: #222;
	border-bottom: 4px solid #333;
	}
#menu a {
	float: left;
	display: block;
	text-align: left;
	width: auto;
	}
#menu a.button_tab {
	float: right;
	background-color: #111;
	color: #555;
	border-radius: 3px;
	padding: 5px 10px;
	margin-top: 2px;
	cursor: default;
	margin-left: 10px;
	}
#menu a.button_tab.enabled {
	background-color: #6ACB5A;
	color: #FFF;
	cursor: pointer;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	}
#menu a.button_tab.enabled:hover {
	background-color: #24BB0D;
	color: #FFF;
	}
#menu a.button_tab {
	float: right;
	background-color: #111;
	color: #555;
	border-radius: 3px;
	padding: 5px 10px;
	margin-top: 2px;
	cursor: default;
	}
#menu #save_image {
	background-color: #3F8DC1;
	color: #FFF;
	cursor: pointer;
	}
#menu #save_image:hover {
	background-color: #0068AF;
	}
a.button,
a.button {
	background-color: #292929;
	padding: 5px 10px;
	border-radius: 4px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	color: #CCC;
	}
a.button:hover {
	background-color: #000;
	color: #FFF;
	}
a.button.active {
	background-color: #333;
	color: #FFF;
	}
a.button.active:hover {
	cursor: default;
	}

#header a.button {
	float: right;
	}




/* Tabs */
.tab {
	padding: 9px 15px 8px 15px;
	color: #FFF;
	margin: 0 0 0 1px;
	background-color: #222;
	color: #777;
	cursor: pointer;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
	font-weight: bold;
	font-size: 12px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}
.tab:hover {
	color: #FFF;
	background-color: #2D2D2D;
	}
.tab.active {
	background-color: #333;
	color: #CCC;
	text-shadow: none;
	cursor: default;
	}



/* Panels */
.panel {
	position: absolute;
	left: 3px;
	top: 37px;
	bottom: 0;
	right: 3px;
	background: #000;
	padding: 0;
	overflow: hidden;
	z-index: 10;
	}
.panel.active {
	z-index: 100;
	}
.panel textarea,
.panel pre {
	background-color: #FFF;
	color: #444;
	border: 3px solid #FFF;
	-webkit-user-select: text;
	-moz-user-select: text;
	font-family: courier, monaco, monospace;
	font-size: 11px;
	white-space: pre-wrap;
	overflow: auto;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
.panel textarea:focus {
	outline: none;
	}
.panel pre {
	background-color: #000;
	color: #EEE;
	border: 3px solid #000;
	}



/* Help popup */
#help {
	width: 500px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 100px;
	bottom: 100px;
	overflow: hidden;
	background-color: #111;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 0;
	z-index: 9999999;
	opacity: 0.9;
	}
#help .content {
	overflow: auto;
	padding: 0 10px 0 0;
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	}

/* General styling */
.content {
	line-height: 1.4;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
	}
.content h1 {
	margin: 0 0 0.5em 0;
	}
.content h2 {
	margin: 2em 0 3px 0;
	padding: 0;
	line-height: 1;
	}
.content h2 + p {	
	border-top: 1px solid #666;
	padding-top: 3px;
	margin-top: 3px;
	}
.content a {
	color: #0599E9;
	font-weight: bold;
	}
.content a:hover {
	color: #FFF;
	}




/* Main canvas panel */
#stage {
	overflow: visible;
	bottom: 35px;
	z-index: 50;
	}
#canvas {
	max-width: 100%;
	}
#canvas.fit {
	width: 100% !important;
	height: auto !important;
	}
#canvas.moving {
	cursor: none;
	}
#canvas:hover {
	cursor: move !important;
	}






/* Info footer */
#info {
	position: absolute;
	left: 0;
	bottom: -35px;
	right: 0;
	background-color: #333;
	padding: 10px 10px 0 10px;
	color: #FFF;
	height: 20px;
	z-index: 100;
	border-top: 3px solid #000;
	}
#info label {
	margin: 0;
	}
#info #fps {
	float: left;
	}
#info #update_mode {
	float: right;
	margin-right: 10px;
	margin-top: -3px;
	}
#info label {
	color: #AAA;
	margin-left: 10px;
	}
#info select {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	}
#info input[type=checkbox] {
	margin: 0;
	padding: 0;
	}
#info #screen_mode {
	float: right;
	}
#screen_mode .ss_slider {
	float: left;
	margin: 0 0 10px 0;
	clear: none;
	}




/* Render panel */
#render_panel {
	padding: 5px;
	overflow: auto;
	}
#render_panel img {
	max-width: 100%;
	margin: 0 0 5px 0;
	clear: left;
	display: block;
	}






/* Parameters panel */
#shaderUI {
	background-color: #222;
	color: #444;
	padding: 2px 10px 10px 30px;
	width: 200px;
	position: absolute;
	right: 0;
	top: 63px;
	bottom: 39px;
	}
#shaderUI h3 {
	font-size: 12px;
	margin: 0 15px 2px 0;
	padding: 10px 0 2px 0;
	clear: both;
	color: #666;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-weight: normal;
	border-bottom: 1px solid #555;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: antialiased;
	}
#shaderUI p {
	margin: 0;
	padding: 2px 0 3px 0;
	float: left;
	width: 100%;
	}


/* Side tabbed menu */
#group_tabs {
	position: absolute;
	height: 30px;
	width: auto;
	top: 0;
	right: 240px;
	width: 400px;
	padding-right: 0;
	-webkit-transform-origin: 100% 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform-origin: 100% 0;
	-moz-transform: rotate(-90deg);
	}
#group_tabs a {
	float: right;
	padding: 7px 15px 10px 15px;
	}


/* Multi-component controls */
div.subgroup {
	padding: 10px 0;
	width: 100%;
	float: left;
	}
.group {
	display: none;
	position: absolute;
	overflow: auto;
	left: 30px;
	top: 0px;
	bottom: 0;
	right: 3px;
	background-color: #333;
	padding: 10px 0 20px 15px;
	}
.group h3:first-child {
	padding-top: 0;
	}





/* Parameters block */
#params {
	overflow: hidden;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 3px;
	}
#params label {
	font-family: helvetica, arial, sans-serif;
	clear: both;
	color: #999;
	display: block;
	float: left;
	font-size: 12px;
	margin: 0 0 3px 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	}
#params label:hover {
	color: #FFF !important;
	}
#params select {
	clear: both;
	display: block;
	}
#params label.color_selection {
	padding: 5px 0 0 0;
	}
#params label.color_selection:hover {
	color: #999 !important;
	}


/* Custom control tweaks */
.ss_slider {
	margin: 0;
	border: none;
	padding: 5px 0;
	}
.ss_track {
	width: 120px;
	}
#control_cameraPosition input {
	width: 5.5em;
	}



/* Color selector */
#color_picker {
	display: none;
	position: absolute;
	right: 250px;
	top: 41px;
	width: 257px;
	z-index: 10000000;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
	}

.color_swatch {
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.45),
						inset 0 -1px 0px rgba(255, 255, 255, 0.1),
						inset 0 3px 5px rgba(0, 0, 0, 0.3),
						0 5px 10px rgba(0, 0, 0, 0.1),
						0 -3px 10px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.45),
						inset 0 -1px 0px rgba(255, 255, 255, 0.1),
						inset 0 3px 5px rgba(0, 0, 0, 0.3),
						0 5px 10px rgba(0, 0, 0, 0.1),
						0 -3px 10px rgba(255, 255, 255, 0.1);
	}
.color_swatch:hover {
	border-color: #FFF;
	}





/* Fractal library */
#library {
	display: none;
	position: absolute;
	left: 3px;
	top: 63px;
	right: 3px;
	bottom: 39px;
	padding: 20px;
	background-color: #333;
	z-index: 1000000;
	}
#library_list {
	position: absolute;
	left: 10px;
	top: 130px;
	right: 10px;
	bottom: 10px;
	overflow: auto;
	}

table {
	margin: 10px 0 0 10px;
	padding: 0;
	width: 98%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
table tr {
	margin-bottom: 1px;
	}
table th {
	background-color: #999;
	color: #000;
	padding: 3px 5px;
	text-align: left;
	font-weight: bold;
	}
table td {
	background-color: #444;
	color: #999;
	padding: 3px 5px;
	-webkit-transition-duration: 1s;
	}
table td.shader_title a {
	font-weight: bold;
	cursor: pointer;
	}
table td.shader_title:hover {
	color: #FFF;
	}
table td span.more {
	padding: 0 10px;
	cursor: pointer;
	}
table td span.more:hover {
	color: #FFF;
	}
table td textarea {
	width: 99%;
	height: 6em;
	border: none;
	font-family: courier;
	font-size: 11px;
	background: #333;
	color: #000;
	margin-top: 5px;
	outline: none;
	display: none;
	}
table td.shader_date {
	width: 18em;
	}
table td.shader_destroy {
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	width: 3em;
	}
table tr:hover td {
	background-color: #555;
	}
table tr.updated td {
	background-color: #FF941A;
	color: #FFF;
	}


/* Paste params */
#paste_block {
	display: none;
	clear: both;
	padding: 0 10px 20px 10px;
	}
#paste_block textarea {
	width: 100%;
	height: 6.5em;
	font-family: courier;
	font-size: 11px;
	outline: none;
	border: none;
	background-color: #999;
	margin: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
#paste_params {
	padding-top: 5px;
	}





/* Footer */
#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 25px;
	border-top: 1px solid #555;
	padding: 10px 10px 0 20px;
	color: #999;
	background-color: #444;
	}
#footer span {
    float: right;
    }